 <app-navbar></app-navbar>
 <!-- <div class="avatar1">
  <img src="/assets/mac.png" alt="Life Lebisi" />
</div> -->
 <section class="home" id="profile">
  <div class="container">
      <main>
          <div class="profile">
              <h1 class="name font-bold text-4xl mb-4">Hi, I'm <span class="highlight font-extrabold">Life</span> <span class="font-extrabold"> Lebisi</span></h1>
              <p class="text">
                I am a passionate full-stack developer with experience in building web applications using modern technologies.
              </p>
              <div class="social-links">
                  <a href="https://github.com/lifelebisi">GitHub</a>
                  <a href="https://www.linkedin.com/lifelebisi" >LinkedIn</a>
              </div>


              
          </div>
          <div class="avatar">
              <img src="/assets/life.jpeg" alt="Life Lebisi" />
          </div>
      </main>
  </div>
</section>

<app-skills></app-skills>


<app-projects></app-projects>

<app-contact></app-contact>

