
.skill-img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill-item:hover .skill-img {
  transform: scale(2.1); /* Zoom in effect */
  opacity: 0.8; /* Slight transparency effect */
}

.skill-item {
  text-align: center;
}

.skill-item img {
  border-radius: 8px;
}
.social-links {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.about {
  background:  white;
  padding: 50px;
}

.avatar1 img {

}
.avatar1 img {
  width: 200px;


}

.mac img {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both transform and shadow */
}

.mac img:hover {
  transform: scale(0.9); /* Zoom out to 90% of its original size */

}

